<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="text-3xl font-bold mb-3 mt-10 text-center text-black">Sign in to your account</h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
        <div class="mt-2"><input type="text" id="username" formControlName="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          @if (loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')){
            <div class="text-red-500 text-sm mt-1">Username is required</div>
          }
        </div>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
        <div class="mt-2">
          <input type="password" id="password" formControlName="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')){
            <div class="text-red-500 text-sm mt-1">Password is required</div>
          }
        </div>
      </div>
      <button type="submit" class="flex w-full justify-center bg-pxlGreen hover:bg-pxlGreenH text-white font-bold py-2 px-4 mb-2 rounded">
        Sign in
      </button>
      @if (loginIsInvalid){
        <div class="text-red-500 text-sm mt-1">Username and/or password is incorrect</div>
      }
      @if (formIsInvalid){
        <div class="text-red-500 text-sm mt-1">Username and password is required</div>
      }
    </form>
  </div>
</div>
