<div class="grid min-h-full place-items-center sm:py-32 lg:px-8">
  <div class="text-center px-5 py-5  rounded">
    <p class="text-9xl font-bold text-pxlGreen">404</p>
    <h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-black sm:text-7xl">Page not found</h1>
    <p class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Sorry, we couldn’t find the page you’re looking for.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a [routerLink]="['/']" class="rounded bg-pxlGreen px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-pxlGreenH">Go back home</a>
    </div>
  </div>
</div>
