<div class="container mx-auto mt-5 px-2" >
  <h1 class="text-2xl font-bold mb-8">Create new post</h1>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="title" class="block text-sm/6 font-medium text-gray-900 mb-1">Title</label>
      <input type="text" id="title" formControlName="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      @if (postForm.get('title')?.touched && (postForm.get('title')?.hasError('required') || postForm.get('title')?.hasError('whitespace'))){
        <div class="text-red-500 text-sm mt-1">Title is required</div>
      }
      @if (postForm.get('title')?.touched && postForm.get('title')?.hasError('maxlength')){
        <div class="text-red-500 text-sm mt-1">Title cannot be more than 130 characters</div>
      }
    </div>
    <div class="mb-4">
      <label for="content" class="block text-sm/6 font-medium text-gray-900 mb-1">Content</label>
      <textarea name="content" id="content" formControlName="content" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      @if (postForm.get('content')?.touched && (postForm.get('content')?.hasError('required')|| postForm.get('content')?.hasError('whitespace'))){
        <div class="text-red-500 text-sm mt-1">Content is required</div>
      }
    </div>

    <div class="mb-4">
      <label for="category" class="block text-sm/6 font-medium text-gray-900 mb-1">Category</label>
      <select formControlName="category" id="category" class="shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight rounded focus:outline-none focus:shadow-outline">
        @for(category of categories$ | async; track category) {
          <option [value]="category">{{helperService.toPascalCasing(category)}}</option>
        }
      </select>
      @if(postForm.get('category')?.touched && postForm.get('category')?.hasError('required')){
        <div class="text-red-500 text-sm mt-1">Category is required</div>
      }
    </div>
    <button type="submit" class="bg-pxlGreen hover:bg-pxlGreenH text-white font-bold py-2 px-4 mb-2 rounded focus:outline-none focus:shadow-outline"
            [ngClass]="{'opacity-50 bg-pxlGreenH cursor-not-allowed': !postForm.valid}" [disabled]="!postForm.valid">
      Save
    </button>
  </form>
</div>
